body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container-hero{
    width: 100%;
    height: 800px;
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_oh_canada/hero_landing_us_desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
}

.input-hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 150px;
    left: 30px;
}

.input-end{
    width: 500px;
    height: 50px;
    border-style: none;
    border-radius: 32px;
    text-align: left;
    font-size: 15px;
    padding-left: 40px;
    font-style: italic;
}

.img-end{
    width: 50px;
    height: 50px;
    position: relative;
    right: 80px;
}

.img-gps{
    width: 30px;
    height: 30px;
    position: relative;
    right: 534px;
}

.texto-hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.texto-busca{
    color: white;
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom: 150px;
}

.btn-onof{
    width: 20%;
    height: 60px;
    gap: 20px;
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 270px;
    left: 660px;
}

.btn-on{
    color: white;
    background-color: red;
    border-style: none;
    border-bottom: 1px solid black;
    border-radius: 32px;
    width: 80px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.btn-of{
    color: black;
    background-color: white;
    border-style: none;
    border-bottom: 1px solid black;
    border-radius: 32px;
    width: 80px;
    height: 50px;
    font-size: 18px;
    font-style: italic;
}

.img-logo{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 130px;
    
}

.btn-adress{
    width: 30%;
    display: flex;
    justify-content: center;
}

.btn-saveadress{
    height: 30px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    position: relative;
    bottom: 190px;
    right: 10px;
}

.delivery-infos{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

.infos-entrega{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-delivery{
    width: 300px;
    height: 200px;
}

.h1-entrega{
    font-size: 32px;
    font-style: italic;
}

.desc-entrega{
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}

.btn-entrega{
    border-radius: 10px;
    background-color: white;
    color: red;
}

.banner01{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 60px;

}

.info-banner{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 30px;
    top: 30px;
}

.img-banner{
    width: 50%;
    height: 300px;
}

.text-h2{
    font-size: 40px;
    font-style: italic;
}

.span-banner1{
    font-size: 30px;
    text-align: left;
    width: 700px;
}

.btn-banner1{
    width: 120px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50px;
    font-size: 15px;
}

.img-banner1{
    position: relative;
    right: 90px;
}