* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    max-width: 100%;
    display: flex;
}

.hero {
    max-width: 100%;
    height: 600px;
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_oh_canada/hero_landing_us_desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header-hero {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.img-header {
    width: 63%;
    display: flex;
    justify-content: end;
    padding-right: 40px;
}

.btn-hero {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.btn-in {
    width: 80px;
    height: 40px;
    border-radius: 24px;
    background-color: red;
    border-color: red;
    color: white;
}

.btn-out {
    width: 80px;
    height: 40px;
    border-radius: 24px;
    background-color: white;
    border-color: white;
    color: black;
}

.img-hero {
    height: 70px;
}

.infos-hero {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.text-hero {
    font-size: 40px;
    color: white;
}

.input-hero {
    width: 350px;
    height: 30px;
    border-radius: 34px;
    padding-left: 10px;
    border-style: none;
}

.link-hero {
    width: 200px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    cursor: pointer;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    transition-property: background-color, box-shadow;
    -webkit-user-select: none;
    text-decoration-line: none;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    color: rgb(73, 73, 73);
}

.delivary {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.entrega {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.img-delivery {
    width: 200px;
    height: 200px;
}

.entrega {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn-entrega {
    font-size: 18px;
    color: red;
    font-style: oblique;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding-top: 0px;
    margin-top: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    outline-width: 0px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.banner01 {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.info-banner {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding-left: 150px;
}

.text-h2 {
    line-height: 44px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.02ch;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.span-banner1{
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn-banner1{
    width: 80px;
    height: 30px;
    background-color: rgb(217, 20, 0);
    box-shadow: transparent 0px 0px 0px 1px inset;
    color: rgb(255, 255, 255);
    justify-content: flex-start;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.banner02 {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: rgb(254, 241, 238);
}

.info-banner2{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding-right: 150px;
}

.container-footer{
    width: 100%;
    height: 900px;
    background-color: rgb(25, 25, 25);
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;

}

.link-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.infos-footer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.rodape-footer{
    width: 100%;
    height: 100px;
}

.link-cities{
    width: 100%;
    height: 100%;
    display: flex;

}

.info-cities{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding-top: 30px;

}

.cities{
    width: 100%;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0ch;
    text-transform: none;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    padding-top: 0px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
}

a:hover { 
    text-decoration-line: underline;
 }

 .infos-footer2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.rodape-footer{
    width: 100%;
}

.img-footer{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}